*{
    background-color: yellow;
}
h1{
    background-color: green;
}
p.fondoazul{
    background-color: blue;
}
p#uniconaranja{
    background-color: orangered;
}
footer p{
    color: rebeccapurple;
}
footer{
    border-width: 5px;
    border-color: magenta;
    border-style: dotted;
    margin: ;
}
